* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Comic Sans MS", cursive;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  background-color: #26f6da;
  padding-bottom: 10px;
  border: solid;
  border-width: 2px 1px 3px 2px;
  border-radius: 4% 90% 40% 9%/5% 4% 70% 52%;
}

.question-card {
  border: solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin-bottom: 30px;
  padding: 40px 80px 40px 80px;
  position: relative;

  border-width: 3px 3px 5px 5px;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
}

.bookmark {
  position: absolute;
  top: -15px;
  right: -8px;
  width: 10%;
}

.bookmark-2 {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 9%;
}

.tags {
  display: flex;
  list-style: none;
  gap: 10px;
}

body {
  height: 80%;
  background: ;
}

button {
  width: 30%;
  justify-content: center;
  margin: 30px auto 30px auto;
  display: flex;
  border-radius: 20px;
  padding: 5px;
}

button:hover {
  background-color: #43e97b;
  color: white;
}

li {
  border: solid;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.8rem;
}

main {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
